* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;

  min-width: 320px;
  min-height: 100vh;
}
#nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 3vh 2vw;
  height: 10vh;
  color: chartreuse;

  button {
    background-color: #1a1a1a;

    color: chartreuse;
  }
  button:hover {
    border-color: chartreuse;
  }
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 0.8em;
  font-weight: 500;
  font-family: inherit;

  cursor: pointer;
  transition: border-color 0.25s;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  max-width: 15vw;
  padding: 5px 10px;
  outline: none;
}

#education-details-items {
  display: flex;
  /* flex-direction: column; */
  gap: 2vw;
  flex-wrap: wrap;
}
.ed-inpts {
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  gap: 5px;
}

#container-div {
  background-color: white;
  color: #1a1a1a;
  min-height: 90vh;
  display: flex;
  max-width: 100vw;
  justify-content: center;
  div {
    max-width: 50vw;
  }
}
#detail-container {
  border-right: 1px solid black;
  background-color: white;
  width: 50%;
  padding: 5vh 5vw;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}
#inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.input-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading {
  display: flex;
  justify-content: space-between;
}
#cv-container {
  background-color: white;
  width: 50%;
  margin: 12px 24px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  div {
    padding: 3vh 2vw;
    width: 100%;
  }
}

#btns {
  display: flex;
  gap: 1vw;
}

#education-sbmt {
  align-self: flex-end;
  justify-self: center;
}
#cv-personal-detail {
  text-align: center;
}

.institution-heading {
  /* padding-top: 15px; */
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 1rem;
}

.degree-sub-details {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  list-style: none;
}
